{{<layout}}

  {{$applicationContent}}
    <h1 id='title'>{{#__}}search.title{{/__}}</h1>
    <ul id='menu'>
        {{#menu}}
            <li><a href="{{link}}" track="{{name}}">{{name}}</a></li>
        {{/menu}}
    </ul>
  {{/applicationContent}}

{{/layout}}
