{{<layout}}

{{$applicationContent}}
    <h1 id='title'>{{#__}}status.title{{/__}}</h1>
    <h2>Currently playing :</h2>
    <div id='playing'>{{playing.title}} by {{playing.artist}}</div>
{{/applicationContent}}

{{/layout}}
